{% extends 'lostacos/layout.html' %}

{% load static %}

{% block title %}О нас{% endblock %}

{% block content %}
    <div class="about-quote">
        <h1>“В сердце Алматы, среди высоких гор, раскинулся казахстанский город, где жители всегда были открыты к новым вкусам. Это было место, где гурманы и любители кулинарии искали приключения для своих вкусовых рецепторов. В этом уникальном месте родилась идея о создании чего-то нового и удивительного - ресторана мексиканской кухни "Los Tacos".“</h1>
        <h2>~ Батыржан <br>
            Основатель сети ресторанов “Los tacos”
        </h2>
    </div>
    <h1 class="history-title">История открытия ресторана</h1>
    <div class="history-cards">
        <div class="line"></div>
        <div class="history-card">
            <img src="{% static 'lostacos/img/card1.png' %}" alt="">
            <h2>1997: Встреча с Мексикой и Планы</h2>
            <p>В 1997 году Батыржан, студент кулинарного института в Алматы, путешествовал по миру и влюбился в мексиканскую кухню. Вернувшись, он открыл кафе с казахстанской кухней, но всегда мечтал о мексиканском ресторане.</p>
        </div>
        <div class="history-card">
            <img src="{% static 'lostacos/img/card2.png' %}" alt="">
            <h2>2010: Мексиканские Эксперименты</h2>
            <p>Следующие пять лет Батыржан посвятил изучению рецептов и тонкостей мексиканской кухни. После успешных экспериментов в домашней кухне, он собрал команду и начал поиск идеального места для будущего ресторана.</p>
        </div>
        <div class="history-card">
            <img src="{% static 'lostacos/img/card3.png' %}" alt="">
            <h2>2018: Открытие "Los Tacos"</h2>
            <p>В 2018 году мечта Батыржана воплотилась в жизнь - ресторан "Los Tacos" открыл свои двери. Это стало событием для города, где казахстанские и мексиканские вкусы соединились в уникальном кулинарном опыте.</p>
        </div>
        <div class="history-card" style="height: 500px;">
            <img src="{% static 'lostacos/img/card4.png' %}" alt="">
            <h2>2023: "Los Tacos" - Часть Городской Культуры</h2>
            <p>Сегодня "Los Tacos" стал неотъемлемой частью кулинарной карты города, становясь местом культурного обмена и празднования уникальных вкусовых переживаний.</p>
        </div>
    </div>
    
{% endblock %}